body{
   background-image:url('/static/images/bg8.jpg');
   background-repeat: no-repeat;
   background-size:cover;
   background-attachment: fixed;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 div{
   margin: 10% 25% 10% 25%;
   padding:20px;
   text-align: center;
   font-size:27px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   border-radius:30px;
   border:6px solid brown;
   width:50%;
   height: 300px;
       color:darkslategrey;
 }
 p{
  font-size:25px;
  font-weight:400;
 }