<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body >
    {% for message in get_flashed_messages() %}
    <p class="text-center text-danger bg-white col-lg-6 mx-auto mt-3"> {{message}} </p>
    {% endfor %}
    <div class="form col-lg-5 col-md-6 col-sm-3 mt-12 ml-4 mr-4 h-100 mx-auto p-4">
    <form action="/url_short" method="post" enctype="multipart/form-data">
        Url:<input class="form-control" type="url" placeholder="Enter url here.." name="url"><br>
        Short Name:<input class="form-control" type="text" placeholder="Enter short code here.." name="code"><br>
        <input class="btn-primary btn-lg mx-auto outline-secondary" type="submit" value="Short">
    </form>
</div>
</body>
</html>